# Week 2 Lab

**Datasets**:

The following datasets are used in this lab.

- [nyc_subway_stations.tsv](https://storage.googleapis.com/qm2/CASA0025/nyc_subway_stations.tsv)
- [nyc_neighborhoods.tsv](https://storage.googleapis.com/qm2/CASA0025/nyc_neighborhoods.tsv)

In [ ]:
# %pip install duckdb duckdb-engine jupysql

In [ ]:
import duckdb

%load_ext sql

In [ ]:
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

In [22]:
%sql duckdb:///:memory:

In [23]:
%%sql

SELECT * FROM duckdb_extensions();

,extension_name,loaded,installed,install_path,description,aliases,extension_version,install_mode,installed_from
0,autocomplete,False,False,,Adds support for autocomplete in the shell,[],,NOT_INSTALLED,
1,aws,False,False,,Provides features that depend on the AWS SDK,[],,NOT_INSTALLED,
2,azure,False,False,,Adds a filesystem abstraction for Azure blob s...,[],,NOT_INSTALLED,
3,core_functions,True,True,(BUILT-IN),Core function library,[],,STATICALLY_LINKED,
4,delta,False,False,,Adds support for Delta Lake,[],,NOT_INSTALLED,
5,ducklake,False,False,,"Adds support for DuckLake, SQL as a Lakehouse ...",[],,NOT_INSTALLED,
6,encodings,False,False,,All unicode encodings to UTF-8,[],,NOT_INSTALLED,
7,excel,False,False,,Adds support for Excel-like format strings,[],,NOT_INSTALLED,
8,fts,False,False,,Adds support for Full-Text Search Indexes,[],,NOT_INSTALLED,
9,httpfs,False,False,,Adds support for reading and writing files ove...,"[http, https, s3]",,NOT_INSTALLED,
10,iceberg,False,False,,Adds support for Apache Iceberg,[],,NOT_INSTALLED,
11,icu,True,True,(BUILT-IN),Adds support for time zones and collations usi...,[],,STATICALLY_LINKED,
12,inet,False,False,,Adds support for IP-related data types and fun...,[],,NOT_INSTALLED,
13,jemalloc,True,True,(BUILT-IN),Overwrites system allocator with JEMalloc,[],,STATICALLY_LINKED,
14,json,True,True,(BUILT-IN),Adds support for JSON operations,[],,STATICALLY_LINKED,
15,motherduck,False,False,,Enables motherduck integration with the system,[md],,NOT_INSTALLED,
16,mysql_scanner,False,False,,Adds support for connecting to a MySQL database,[mysql],,NOT_INSTALLED,
17,parquet,True,True,(BUILT-IN),Adds support for reading and writing parquet f...,[],,STATICALLY_LINKED,
18,postgres_scanner,False,False,,Adds support for connecting to a Postgres data...,[postgres],,NOT_INSTALLED,
19,spatial,False,False,,Geospatial extension that adds support for wor...,[],,NOT_INSTALLED,
20,sqlite_scanner,False,False,,Adds support for reading and writing SQLite da...,"[sqlite, sqlite3]",,NOT_INSTALLED,
21,tpcds,False,False,,Adds TPC-DS data generation and query support,[],,NOT_INSTALLED,
22,tpch,False,False,,Adds TPC-H data generation and query support,[],,NOT_INSTALLED,
23,ui,False,False,,Adds local UI for DuckDB,[],,NOT_INSTALLED,
24,vss,False,False,,Adds indexing support to accelerate Vector Sim...,[],,NOT_INSTALLED,

In [24]:
%%sql

INSTALL httpfs;
LOAD httpfs;

Empty DataFrame
Columns: [Success]
Index: []

## Question 1: Creating Tables

Create a database, then write a SQL query to create a table named `nyc_subway_stations` and load the data from the file `nyc_subway_stations.tsv` into it. Similarly, create a table named `nyc_neighborhoods` and load the data from the file `nyc_neighborhoods.tsv` into it.

In [26]:
%%sql

CREATE TABLE nyc_subway_stations AS SELECT * FROM 'https://storage.googleapis.com/qm2/CASA0025/nyc_subway_stations.tsv';

Empty DataFrame
Columns: [Success]
Index: []

In [27]:
%%sql

CREATE TABLE nyc_neighborhoods AS SELECT * FROM 'https://storage.googleapis.com/qm2/CASA0025/nyc_neighborhoods.tsv';

Empty DataFrame
Columns: [Success]
Index: []

## Question 2: Column Filtering

Write a SQL query to display the `ID`, `NAME`, and `BOROUGH` of each subway station in the `nyc_subway_stations` dataset.

In [ ]:
# Add your code here.

## Question 3: Row Filtering

Write a SQL query to find all subway stations in the `nyc_subway_stations` dataset that are located in the borough of Manhattan.

In [ ]:
# Add your code here.

## Question 4: Sorting Results

Write a SQL query to list the subway stations in the `nyc_subway_stations` dataset in alphabetical order by their names.

In [ ]:
# Add your code here.

## Question 5: Unique Values

Write a SQL query to find the distinct boroughs represented in the `nyc_subway_stations` dataset.

In [ ]:
# Add your code here.

## Question 6: Counting Rows

Write a SQL query to count the number of subway stations in each borough in the `nyc_subway_stations` dataset.

In [ ]:
# Add your code here.

## Question 7: Aggregating Data

Write a SQL query to list the number of subway stations in each borough, sorted in descending order by the count.

In [ ]:
# Add your code here.

## Question 8: Joining Tables

Write a SQL query to join the `nyc_subway_stations` and `nyc_neighborhoods` datasets on the borough name, displaying the subway station name and the neighborhood name.

In [ ]:
# Add your code here.

## Question 9: String Manipulation

Write a SQL query to display the names of subway stations in the `nyc_subway_stations` dataset that contain the word "St" in their names.

In [ ]:
# Add your code here.

## Question 10: Filtering with Multiple Conditions

Write a SQL query to find all subway stations in the `nyc_subway_stations` dataset that are in the borough of Brooklyn and have routes that include the letter "R".

In [ ]:
# Add your code here.

Once you've completed your attempt, you can check your answers [here](https://github.com/oballinger/CASA0025/blob/main/notebooks/W02_lab_solution.ipynb).